body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #74740aaf;
}

header {
  background-color: #831b7a80;
  color: #c9c5c5;
}

#currentDay {
  color:#19248ace
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #19248ace;
  font-weight: bold;
  padding: 10px;
}

.description {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: #a09e9e6c;
}

.time-block {
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}

.row {
  border-top: 1px solid white;
}

.past {
  background-color: #d3d3d365;
}

.present {
  background-color: #e0761369;
  color: white;
}

.future {
  background-color: #4ee6c063;
}

.saveBtn {
  border: none;
  background: none;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
